*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.pdb
*.oob

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

/.idea/
/.gradle/
/gradle/
out/
build/
/fy-drp-service.iml
transaction-logs/
gradlew
gradlew.bat
info.properties
*.~sql
service/.gradle/
service/.idea/
service/gradle/
client/ReciteWords/.vs/
client/ReciteWords/ReciteWords/bin/
client/ReciteWords/ReciteWords/obj/
